<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.uid2.dev.DevApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Metadata Required for Client Side Token Generation -->
        <!-- This information will be provided when you register your app with the UID2 operator. -->
        <meta-data android:name="uid2_api_public_key" android:value="UID2-X-L-MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEtXJdTSZAYHvoRDWiehMHoWF1BNPuqLs5w2ZHiAZ1IJc7O4/z0ojPTB0V+KYX/wxQK0hxx6kxCvHj335eI/ZQsQ=="/>
        <meta-data android:name="uid2_api_subscription_id" android:value="4WvryDGbR5"/>

        <!-- The metadata consumed by the Dev App + SDK -->
        <meta-data android:name="uid2_api_url" android:value="http://localhost:8080"/>
        <meta-data android:name="uid2_api_key" android:value=""/>
        <meta-data android:name="uid2_api_secret" android:value=""/>

        <activity android:name="com.uid2.dev.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
