name: Release
run-name: ${{ format('Release version {0}', inputs.version)}} by @${{ github.actor }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (without v)'
        required: true
        type: string
      snapshot:
        description: 'Next SNAPSHOT version (without v). Defaults to current value'
        required: false
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write
      security-events: write
      packages: write

    steps:
      - name: Validate version input
        id: validation
        env:
          INPUT_RELEASE_VERSION: ${{ inputs.version }}
          INPUT_SNAPSHOT_VERSION: ${{ inputs.snapshot }}
        run: |
          if ! [[ "$INPUT_RELEASE_VERSION" =~ ^([0-9]+)\.([0-9]+)\.([0-9]+)$ ]]; then
            echo "Invalid version";
            exit 1;
          fi

          if ! [[ "$INPUT_SNAPSHOT_VERSION" =~ ^([0-9]+)\.([0-9]+)\.([0-9]+)(-SNAPSHOT)?$ ]]; then
            echo "Invalid snapshot version";
            exit 1;
          fi

          echo "release_version=$INPUT_RELEASE_VERSION" >> "$GITHUB_OUTPUT"
          echo "snapshot_version=$INPUT_SNAPSHOT_VERSION" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Fail if Release and not on Default branch
        if: ${{ github.event.repository.default_branch != github.ref_name }}
        uses: actions/github-script@v7
        with:
          script: |
            core.setFailed('Releases can not be created on a feature branch. Branch: ${{ github.ref_name }}')

      - name: Update Git user
        run: |
          git config --local user.name "IABTechLab"
          git config --local user.email IABTechLab@users.noreply.github.com

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Get Snapshot versions
        id: snapshotVersions
        run: ./scripts/get_snapshot_versions.sh ${{ steps.validation.outputs.snapshot_version }}

      - name: Prepare for release metadata
        shell: bash
        run: |
          sed -i.bak "s/${{ steps.snapshotVersions.outputs.cur_snapshot_version }}/${{ steps.validation.outputs.release_version }}/g" gradle.properties

      - name: Commit gradle.properties and set tag for v${{ steps.validation.outputs.release_version }}
        uses: IABTechLab/uid2-shared-actions/actions/commit_pr_and_merge@v2
        with:
          add: 'gradle.properties'
          message: 'Prepare for release: ${{ steps.validation.outputs.release_version }}'
          tag: v${{ steps.validation.outputs.release_version }}

      - name: Deploy v${{ steps.validation.outputs.release_version }}
        run: ./gradlew publish
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.CENTRAL_SONATYPE_REPO_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.CENTRAL_SONATYPE_REPO_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_PASSPHRASE }}

      - name: Prepare next Snapshot version ${{ steps.snapshotVersions.outputs.new_snapshot_version }}
        shell: bash
        run: |
          echo "Setting next snapshot version ${{ steps.snapshotVersions.outputs.new_snapshot_version }}"
          sed -i.bak "s/${{ steps.validation.outputs.release_version }}/${{ steps.snapshotVersions.outputs.new_snapshot_version }}/g" gradle.properties

      - name: Commit gradle.properties for Snapshot version ${{ steps.snapshotVersions.outputs.new_snapshot_version }}
        uses: IABTechLab/uid2-shared-actions/actions/commit_pr_and_merge@v2
        with:
          add: 'gradle.properties'
          message: 'Prepare next development version: ${{ steps.snapshotVersions.outputs.new_snapshot_version }}'

      - name: Remove the backup file from sed edits
        shell: bash
        run: |
          rm gradle.properties.bak

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          tag_name: v${{ steps.validation.outputs.release_version }}
